**/.git
**/.svn
**/.hg
**/node_modules
**/*.next
*.json
**/*.md
**/public
**/configuration
**/dist
*.yaml
**/*.eslintrc.js
*.prettierrc.js
*.swcrc
*.stylelintrc
*.dio
*.config*
**/next-env.d.ts
**/build
coverage*
.env*
**/*.json
*/migrations
azure-pipelines.yml
